<div class="products_list-container">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a class="navbar-brand" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></a>
            </div>
        </div>
    </nav>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <ng-container *ngFor="let product of filteredList">
                <div>
                    <button class="product_name" (click)="activeProduct=product">{{product.title}}</button>
                    <hr>
                </div>
            </ng-container>
            <ng-container *ngIf="noProducts">
                NO Products Found
            </ng-container>
        </mat-drawer>
        <div>
            <app-products-details [product]="activeProduct" (productId)="deleteProduct($event)"></app-products-details>
        </div>
    </mat-drawer-container>
</div>