<div class="products_grid-container">
    <ng-container *ngIf="noProducts">
        <h4>No Porducts Found</h4>
    </ng-container>
    <ng-container *ngFor="let product of listSlice">
        <div class="mat-elevation-z8 product_details">
            <div class="products_grid-content" [routerLink]="['details/'+product.id]">
                <h5>{{product.title}}</h5>
                <div class="img-container">
                    <img [src]="product.thumbnail">
                </div>
                <p>{{product.description}}</p>
                <p>Price : {{product.price | currency}}</p>
            </div>
            <div class="product-incart" *ngIf="productInCart(product)">
                <button class="btn btn-outline-dark" style="width:50%;margin: 20px auto;" disabled>In Cart</button>
            </div>
            <div class="button-container" *ngIf="!productInCart(product)">
                <div class="quantity_control">
                    <button class="left" (click)="changeQuantity(product,false)">-</button>
                    <span>{{product.quantity}}</span>
                    <button class="right" (click)="changeQuantity(product,true)">+</button>
                </div>
                <button class="btn btn-outline-dark" (click)="isLoggedIn(product)" style="width:50%;margin: 20px auto;">Add to Cart</button>
            </div>
        </div>
    </ng-container>
</div>
<mat-paginator [length]="filteredList.length" [pageSize]="12" (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>