.products_grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product_details{
    width: 24%;
    min-height: 450px;
    margin: 10px .5%;
    display: flex;
    flex-direction: column;
}
.product_details h5{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top:10px;
}
.product_details .img-container{
    height: 200px;
    display: flex;
    margin:10px auto;
}

.product_grid-content{
    height: 400px;
}
.product_details .button-container{
    width: 80%;
    margin: auto auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.product_details .img-container img{
    max-width: 80%;
    max-height: 200px;
    margin: auto;
}

.product_details p{
    width: 80%;
    margin: auto;
}
.products_grid-container .product_details:hover{
    transform: scale(1.05);
}

.quantity_control{
    width: 50%;
    margin: 10px auto 0 auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantity_control button{
    width: 30px;
    outline: none;
    background: none;
    border-radius: 50%;
}

.product-incart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
