<div class="products_grid-container">
    <ng-container *ngIf="noProducts">
       <h4>No Porducts Found</h4>
    </ng-container>
    <ng-container *ngFor="let product of filteredList,let i=index">
        <div class="mat-elevation-z8 product_details">
            <h5>{{product.title}}</h5>
            <div class="img-container">
                <img [src]="product.thumbnail">
            </div>
            <p>{{product.description}}</p>
            <p>Price : {{product.price | currency}}</p>
            <!--
            <div class="button-container">
                <button class="btn btn-outline-dark">Add to Cart</button>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>-->
        </div>
    </ng-container>
</div>
